autogluon==0.3.1
bayesian-optimization==1.2.0
catboost==1.0.3
category_encoders==2.3.0
google==3.0.0
ipywidgets==7.6.3
japanize-matplotlib==1.1.3
jupyter==1.0.0
jupyterlab==3.2.5
jupyter-console==6.4.0 
lightgbm==3.3.1
matplotlib==3.1.3
matplotlib-venn==0.11.6
numpy==1.16.6
natsort==8.0.2
optuna==2.10.0
pandas==1.0.5
pandas-profiling==3.0.0
pytorch-tabnet==3.1.1
qtconsole==5.2.2 
qtpy==2.0.0
scikit-learn==1.0.2
shap==0.40.0
sweetviz==2.1.3
tensorflow==2.7.0
tgan==0.1.0
torch==1.10.1
tqdm==4.62.3
tsne==0.3.1
tsnecuda==3.0.0
widgetsnbextension==3.5.1
xgboost==1.5.1